/* Custom CSS */

/* text */
.dot{
	font-size:8px;
	vertical-align:middle
}

/* buttons */
.btn-view {
    font-size: 20px;
    letter-spacing: 1px;
    letter-spacing: 1px;
    border-radius: 10px;
    text-align: center;
    width: 222px;
    height: 44px;
    display: block;
    border: 2px solid
}

.btn-view:hover{
    color:white !important;
    background-color: #18BC9C;
}

.btn-view:focus{
	color: #18BC9C;
}

.success .btn-view {
	color: white !important;
    font-size: 20px;
    letter-spacing: 1px;
    letter-spacing: 1px;
    border-radius: 10px;
    text-align: center;
    width: 222px;
    height: 44px;
    display: block;
    border: 2px solid
}

.success .btn-view:hover{
    color:#18BC9C !important;
    background-color: white;
}

/* img */
.img-center{
	margin: 0 auto;
}

/* hide row */
.hideme{
    opacity: 0
}

/*circle*/

.circle {
    width: 220px;
    height: 130px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}
.circle strong {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 26px;
    font-size: 21px;
}

/* screen widths */
@media (max-width: 1200px) {
	.banner-phone{
		width: 0;
		height: 0;
		opacity: 0;
	}
	.portfolio-text{
		text-align: center;
	}
	.btn-view{
		margin-left: auto;
		margin-right: auto;
	}
    .mobile-br{
        padding-top: 25px;
    }
}